<!DOCTYPE html>
{% load compress %}
{% load static from staticfiles %}
{% load jsonify from zeus %}
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Zeus-CI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <base href="/"/>

        {% compress css %}
        {# 60px to make the container go all the way to the bottom of the topbar #}
        <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
        <style>
            body {
                padding-top: 60px; 
            }
        </style>
        {% endcompress %}
        {% block extra_css %}{% endblock %}

    </head>

    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url "home" %}">Zeus-CI</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url "zeus_api_root" %}" target="_new">Api</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="{% url "admin:index" %}" target="_new_admin">Admin</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        {% block container-wrapper %}
        <div class="container">
            {% block container %}
            <h1>Zeus - Continous Integration</h1>

            {% if projects %}
            <table class="table">
                <thead>
                    <tr>
                        <td>Project</td>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

            {% endblock container %}
        </div>
        {% endblock container-wrapper %}

        {% block js %}
        {% compress js %}
        <script src="{% static "js/jquery-1.10.1.min.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
        {% endcompress %}
        {% endblock js %}
        {% block extra_js %}
        {% endblock extra_js %}
    </body>
</html>

