<div ui-view>

<h3>Recent buildsets</h3>

<div class="buildset-list">

    <div class="buildset-item panel panel-default"
     ng-repeat="buildset in project.buildsets_recent">
        <div class="panel-body">
            <ul class="list-inline">
                <li>
                    <ul class="list-unstyled">
                        <li>
                        <a ui-sref="project.details.buildset({
                            name: $stateParams.name,
                            buildsetNumber: buildset.number
                        })">
                        Buildset {{ buildset.number }}
                        </a>
                        </li>

                        <li>
                        <span class="label label-{{ buildset.status | statusToClass }}">
                            {{ buildset.status | uppercase }}
                        </span>
                        </li>
                    </ul>
                </li>

                <li>
                <ul class="list-unstyled">
                    <li>Started at: {{ buildset.created_at }}</li>
                    <li>Finished at: {{ buildset.finished_at }}</li>
                </ul>
                </li>
            </ul>
        </div>
    </div>

</div>

</div>
