<h3>Build {{ $stateParams.buildsetNo }}.{{ build.number }}</h3>

<a class="btn btn-mini btn-danger pull-right" href="#force-rebuild" ng-click="forceRebuild(build)"><i class="glyphicon glyphicon-wrench icon-white"></i> Force re-build</a>

<dl class="dl-horizontal">
    <dt>Build</dt>
    <dd>{{ build.number }}</dd>

    <dt>Status</dt>
    <dd><span class="label label-{{ build.status | statusToClass }}">{{ build.status | uppercase }}</span></dd>
</dl>

<div ng-repeat="command in build.commands">
    <h5>{{ command.title }}</h5>
    <pre>{{ command.output }}</pre>
</div>

</div>

