<h2>Buildset {{ buildset.number }}</h2>

<span class="label label-{{ buildset.status | statusToClass }}"
    ng-show="(buildset.status === 'failed')">
{{ buildset.status | uppercase }}
</span>

<hr/>

<div class="panel panel panel-danger"
    ng-repeat="error in buildset.errors">
    <div class="panel-heading">Reason: {{ error.reason }}</div>
    <div class="panel-body">

        <section>
            <strong>returncode</strong>:
            {{ error.returncode }}
        </section>

        <section>
            <strong>stderr</strong>:
            <pre>{{ error.stderr }}</pre>
        </section>

        <section>
            <strong>stdout</strong>:
            <pre>{{ error.stdout }}</pre>
        </section>

    </div>
</div>

<div class="build-list">

    <div class="panel panel-default"
     ng-repeat="build in buildset.builds">
        <div class="panel-body">
            <ul class="list-inline">
                <li>
                    <ul class="list-unstyled">
                        <li>
                        <a ui-sref="project.details.buildset.build({
                            name: project.name,
                            buildsetNumber: buildset.number,
                            buildNumber: build.number
                        })">
                        Build {{ buildset.number }}.{{ build.number }}
                        </a>
                        </li>
                        <li>
                        <span class="label label-{{ build.status | statusToClass }}">
                            {{ build.status | uppercase }}
                        </span>
                        </li>
                    </ul>
                </li>

                <li>
                <ul class="list-unstyled">
                    <li>Started at: {{ build.created_at }}</li>
                    <li>Finished at: {{ build.finished_at }}</li>
                </ul>
                </li>
            </ul>
        </div>
    </div>

</div>
