<h3>Build {{ $stateParams.buildsetNo }}.{{ $stateParams.buildNo }}</h3>

<a class="btn btn-mini btn-danger pull-right" href ng-click="forceRebuild(build)"><i class="glyphicon glyphicon-wrench icon-white"></i> Force re-build</a>

<dl class="dl-horizontal">
    <dt>Build</dt>
    <dd>{{ build.number }}</dd>

    <dt>Status</dt>
    <dd><span class="label label-{{ build.status | statusToClass }}">{{ build.status | uppercase }}</span></dd>
</dl>

<div class="command-panel panel panel-{{ build.status | statusToClass }}" ng-repeat="command in build.commands">
    <div class="panel-heading">
        <h3 class="panel-title">$ {{ command.title }}</h3>
    </div>
    <div class="panel-body"><pre>{{ command.output }}</pre></div>
</div>

</div>

