{% extends "base.html" %}
{% load compress %}
{% load static from staticfiles %}

{% block extra_css %}
{% compress css %}
<link rel="stylesheet" type="text/x-sass" href="{% static "zeus/css/zeus.sass" %}">
{% endcompress %}
{% endblock %}


{% block extra_js %}
{% compress js %}
<script type="text/javascript" src="{% static "zeus/js/angular.1.0.7.min.js" %}"></script>
<script type="text/coffeescript" src="{% static "zeus/js/zeus.coffee" %}"></script>
<script type="text/coffeescript" src="{% static "zeus/js/controllers.coffee" %}"></script>
{% endcompress %}
{% endblock %}
