{% extends "base.html" %}
{% load compress %}
{% load static from staticfiles %}

{% block extra_css %}
{% compress css %}
<link rel="stylesheet" type="text/x-sass" href="{% static "zeus/css/zeus.sass" %}">
{% endcompress %}
{% endblock %}


{% block extra_js %}
{% compress js %}
<script type="text/javascript" src="{% static "zeus/js/lib/moment.2.0.0.min.js" %}"></script>
<script type="text/javascript" src="{% static "zeus/js/lib/angular.1.0.7.min.js" %}"></script>
<script type="text/javascript" src="{% static "zeus/js/lib/angular-resource.1.0.7.min.js" %}"></script>
<script type="text/coffeescript" src="{% static "zeus/js/app/zeus.coffee" %}"></script>
{% block init_js %}{% endblock %}
<script type="text/coffeescript" src="{% static "zeus/js/services/main.coffee" %}"></script>
<script type="text/coffeescript" src="{% static "zeus/js/controllers/main.coffee" %}"></script>
{% endcompress %}
{% endblock %}
