{% extends "base.html" %}
{% load compress %}
{% load static from staticfiles %}

{% block extra_css %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static "zeus/css/zeus.css" %}">
{% endcompress %}
{% endblock %}


{% block extra_js %}
{% include "zeus/jstemplates.html" %}
<script type="text/javascript">
    {# If needed, build Django namespace. Fill csrfToken for future API calls #}
    window.Django = window.Django || {};
    window.Django.csrfToken = "{{ csrf_token }}";
</script>

{% compress js %}
{# libraries #}
<script type="text/javascript" src="{% static "zeus/js/lib/swig.min.js" %}"></script>
<script type="text/javascript" src="{% static "zeus/js/lib/moment.2.0.0.min.js" %}"></script>
<script type="text/javascript" src="{% static "zeus/js/lib/underscore.js" %}"></script>
<script type="text/javascript" src="{% static "zeus/js/lib/backbone.js" %}"></script>
<script type="text/javascript" src="{% static "zeus/js/lib/backbone.wreqr.js" %}"></script>
<script type="text/javascript" src="{% static "zeus/js/lib/backbone.babysitter.js" %}"></script>
<script type="text/javascript" src="{% static "zeus/js/lib/backbone.marionette.js" %}"></script>
<script type="text/javascript" src="{% static "zeus/js/lib/backbone.marionette.swig.js" %}"></script>
{# setup global variables #}
{% block init_js %}{% endblock %}
{# app #}

<script type="text/javascript" src="{% static "zeus/js/app.js" %}"></script>

<script type="text/javascript" src="{% static "zeus/js/common/constants.js" %}"></script>
<script type="text/javascript" src="{% static "zeus/js/common/filters.js" %}"></script>
<script type="text/javascript" src="{% static "zeus/js/common/views.js" %}"></script>

<script type="text/javascript" src="{% static "zeus/js/apps/breadcrumbs/app.js" %}"></script>
<script type="text/javascript" src="{% static "zeus/js/apps/breadcrumbs/models.js" %}"></script>
<script type="text/javascript" src="{% static "zeus/js/apps/breadcrumbs/views.js" %}"></script>

<script type="text/javascript" src="{% static "zeus/js/apps/projects/app.js" %}"></script>
<script type="text/javascript" src="{% static "zeus/js/apps/projects/models.js" %}"></script>
<script type="text/javascript" src="{% static "zeus/js/apps/projects/views.js" %}"></script>

{% block finish_js %}{% endblock %}
{% endcompress %}
{% endblock %}

{% comment %}

<script type="text/javascript" src="{% static "zeus/js/app.js" %}"></script>

<script type="text/javascript" src="{% static "zeus/js/app/constants.js" %}"></script>
<script type="text/javascript" src="{% static "zeus/js/app/filters.js" %}"></script>
<script type="text/javascript" src="{% static "zeus/js/common/controllers.js" %}"></script>
<script type="text/javascript" src="{% static "zeus/js/common/views.js" %}"></script>

<script type="text/javascript" src="{% static "zeus/js/entities/breadcrumbs.js" %}"></script>
<script type="text/javascript" src="{% static "zeus/js/apps/breadcrumbs/list_view.js" %}"></script>
<script type="text/javascript" src="{% static "zeus/js/apps/breadcrumbs/list_controller.js" %}"></script>
<script type="text/javascript" src="{% static "zeus/js/apps/breadcrumbs/breadcrumbs_app.js" %}"></script>

<script type="text/javascript" src="{% static "zeus/js/entities/project.js" %}"></script>
{% endcomment %}
