{% verbatim %}

<script type="text/x-swig-template" id="project-detail-template">
<h3>Buildsets</h3>

<table class="table table-striped table-bordered table-condensed table-hover">
    <caption>Recent buildsets</caption>
    <thead>
        <tr>
            <th>Buildset</th>
            <th>Status</th>
            <th>Started</th>
            <th>Finished</th>
        </tr>
    </thead>
    <tbody>
        {% for buildset in project.buildsets_recent %}
        <tr>
            <!--<td><a href="{{ buildset.url }}" class="block">{{ buildset.number }}</a></td>-->
            <td><a ui-sref="buildset({name: project.name, buildsetNo: buildset.number })" class="block">{{ buildset.number }}</a></td>
            <td><span class="label label-{{ buildset.status | statusToClass }}">{{ buildset.status | uppercase }}</span></td>
            <td>{{ buildset.created_at }}</td>
            <td>{{ buildset.finished_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endverbatim %}
