{% extends "zeus/base.html" %}
{% load jsonify from zeus %}

{% block init_js %}
{{ block.super }}
<script type="text/javascript">
    zeus_project = {{ project|jsonify }};
</script>
{% endblock %}

{% block container %}
{% verbatim %}
<div ng-app="zeus" ng-controller="zeus.ProjectDetailController">

<ul class="breadcrumb">
    <li ng-repeat="breadcrumb in breadcrumbs|breadcrumbLinks">
        <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
    </li>
    <li class="active" ng-repeat="breadcrumb in breadcrumbs|breadcrumbActive">
        {{ breadcrumb.text }}
    </li>
</ul>

<h1><a href="{{ project.url }}">{{ project.name }}</a></h1>

<dl class="dl-horizontal">
    <dt>Website</dt>
    <dd><a href="{{ project.website_url }}">{{ project.website_url }}</a></dd>

    <dt>Repository</dt>
    <dd>{{ project.repo_url }}</dd>
</dl>

<ul class="nav nav-tabs">
    <li class="active"><a href="#">Current</a></li>
    <li><a href="#">History</a></li>
    <li><a href="#">Settings</a></li>
</ul>
{% endverbatim %}

{% block content %}
<a href="{% url "zeus_force_project_buildset" name=project.name %}">Force build</a>
{% verbatim %}

<table class="table table-striped table-bordered table-condensed table-hover">
    <caption>Recent buildsets</caption>
    <thead>
        <tr>
            <th>Buildset</th>
            <th>Status</th>
            <th>Started</th>
            <th>Finished</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        <tr class="{{ buildset.status | statusToClass }}" ng-repeat="buildset in project.buildsets_recent">
            <td><a href="{{ buildset.url }}" class="block">{{ buildset.number }}</a></td>
            <td>{{ buildset.status }}</td>
            <td>{{ buildset.created_at }}</td>
            <td>{{ buildset.finished_at }}</td>
            <td>{{ buildset.duration }}</td>
        </tr>
    </tbody>
</table>

</div>
{% endverbatim %}
{% endblock content %}

{% endblock container %}

