{% extends "zeus/base.html" %}
{% load jsonify from zeus %}

{% block init_js %}
{{ block.super }}
<script type="text/javascript">
    // global vars
    zeus_project = {{ project|jsonify }};
    var PROJECT_URL = "{{ project.url }}";
    var STATIC_URL = "{{ STATIC_URL }}";
    var PARTIALS_URL = "{{ STATIC_URL }}zeus/js/app/partials/";
</script>
{% endblock %}

{% block finish_js %}
<script type="text/javascript">
    zeus.start();
</script>
{% endblock %}

{% block container %}
{% verbatim %}
<div>

    <div id="breadcrumbs-region"></div>

    <div id="main-region"></div>

{% endverbatim %}

<div ui-view="mainContent"></div>

</div>

{% endblock container %}

