{% extends "zeus/base.html" %}
{% load jsonify from zeus %}

{% block init_js %}
{{ block.super }}
<script type="text/javascript">
    // global vars
    var project = {{ project|jsonify }};
    var PROJECT_URL = "{{ project.url }}";
    var STATIC_URL = "{{ STATIC_URL }}";
    var PARTIALS_URL = "{{ STATIC_URL }}zeus/js/app/partials/";
</script>
{% endblock %}

{% block container %}
{% verbatim %}
<div ng-app="zeus">
    <ol class="breadcrumb" ng-controller="BreadcrumbsController">
        <li ng-repeat="breadcrumb in breadcrumbs">
        <ng-switch on="$last">
            <a ng-switch-when="false" href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>
            <span ng-switch-default>{{ breadcrumb.name }}</span>
        </ng-switch>
    </ol>

    <div ui-view>LOADING</div>
</div>
{% endverbatim %}


{% endblock container %}

