{% extends "zeus/project.html" %}
{% load jsonify from zeus %}

{% block init_js %}
{{ block.super }}
<script type="text/javascript">
    zeus_buildset = {{ buildset|jsonify }};
</script>
{% endblock %}

{% block content %}

<div ng-controller="zeus.BuildsetDetailController">
<h2><a href="{{ buildset.get_absolute_url }}">Buildset: #{{ buildset.number }}</a></h2>

{% block build_content %}
{% verbatim %}

<table class="table table-striped table-bordered table-condensed table-hover">
    <caption>Builds</caption>
    <thead>
        <tr>
            <th>Build</th>
            <th>Status</th>
            <th>Started</th>
            <th>Finished</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        <tr class="{{ build.status | statusToClass }}" ng-repeat="build in buildset.builds">
            <td><a href="{{ build.url }}">{{ build.number }}</a></td>
            <td>{{ build.status }}</td>
            <td>{{ build.created_at | date:"medium" }}</td>
            <td>{{ build.finished_at | date:"medium" }}</td>
            <td>{{ build.duration }}</td>
        </tr>
    </tbody>
</table>

{% endverbatim %}
{% endblock %}

</div>

{% endblock %}

