{% extends "zeus/project_buildset.html" %}

{% block build_content %}

<div ng-app ng-controller="zeus.StepController">
<h3>Step: #{{ build.number }}</h3>

<a href="{{ build.get_force_build_url }}">Force re-build</a>

{% verbatim %}
<pre>
{{ build.output }}
</pre>
{% endverbatim %}

</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    var API_STEP_URL = "{% url "zeus_api_build_detail" build.buildset.project.name build.buildset.number build.number %}.json";
</script>
{{ block.super }}
{% endblock %}

