{% extends "zeus/project_buildset.html" %}
{% load jsonify from zeus %}

{% block init_js %}
{{ block.super }}
<script type="text/javascript">
    var zeus_build = {{ build|jsonify }};
    var initialBuild = {{ build|jsonify }};
    var force_build_url = {{ force_build_url|jsonify }};
</script>
{% endblock %}

{% block build_content %}


<div ng-app ng-controller="BuildDetailController" ng-init="init()">
{% verbatim %}

<a class="btn btn-mini btn-danger pull-right" href="{{ force_build_url }}"><i class="glyphicon glyphicon-wrench icon-white"></i> Force re-build</a>

<dl class="dl-horizontal">
    <dt>Build</dt>
    <dd>{{ build.number }}</dd>

    <dt>Status</dt>
    <dd><span class="label label-{{ build.status | statusToBadgeClass }}">{{ build.status | uppercase }}</span></dd>
</dl>

<div ng-repeat="command in build.commands">
    <h5>{{ command.title }}</h5>
    <pre>{{ command.output }}</pre>
</div>

</div>
{% endverbatim %}

{% endblock %}

