{% extends "zeus/project_build.html" %}

{% block build_content %}

<div ng-app ng-controller="StepController">
<h3>Step: #{{ step.number }}</h3>

<a href="{{ step.get_force_build_url }}">Force re-build</a>

{% verbatim %}
<pre>
{{ step.output }}
</pre>
{% endverbatim %}

</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    var API_STEP_URL = "{% url "zeus_api_build_step_detail" step.build.project.name step.build.number step.number %}.json";
</script>
{{ block.super }}
{% endblock %}

