{% verbatim %}
<script type="text/x-swig-template" id="project-common-template">
<h1><a href="{{ project.url }}">{{ project.name }}</a></h1>

<dl class="dl-horizontal">
    <dt>Website</dt>
    <dd><a href="{{ project.website_url }}">{{ project.website_url }}</a></dd>

    <dt>Repository</dt>
    <dd>{{ project.repo_url }}</dd>

    <dt>Hammer a build</dt>
    <dd>
        <a class="btn btn-xs btn-primary" ui-sref="buildset_create"><i class="glyphicon glyphicon-wrench icon-white"></i> New buildset</a>
    </dd>
</dl>
</script>
{% endverbatim %}
