{% verbatim %}
<script type="text/x-swig-template" id="project-details-template">
<h1>{{ project.name }}</h1>

<h3>Recent buildsets</h3>

<table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th>Buildset</th>
            <th>Status</th>
            <th>Started</th>
            <th>Finished</th>
        </tr>
    </thead>
    <tbody>
        {% for buildset in project.buildsets_recent %}
        <tr>
            <td><a href="{{ buildset.url }}"
                  class="block show-buildset"
         buildsetNumber="{{ buildset.number}}">{{ buildset.number }}</a></td>
            <td><span class="label label-{{ buildset.status | statusToClass }}">{{ buildset.status | upper }}</span></td>
            <td>{{ buildset.created_at }}</td>
            <td>{{ buildset.finished_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</script>
{% endverbatim %}
